@page "/master/MessageStream"

@inject IJSRuntime jsRuntime
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IDialogService DialogService
@using System.IO

<h1>Daftar MessageStream</h1>

<p>Gunakan halaman ini untuk melihat info MessageStream.</p>

@if (DataMessageStream == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Context="item" Items="@DataMessageStream" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<MessageStream,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Data MessageStream</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>CreatedDate</MudTh>
            <MudTh>Content</MudTh>
            <MudTh>MqttClientId</MudTh>
            <MudTh>MqttTopic</MudTh>
         
            <MudTh>Actions</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="CreatedDate">@item.CreatedDate.ToString()</MudTd>
            <MudTd DataLabel="Content">@item.Content</MudTd>
            <MudTd DataLabel="MqttClientId">@item.MqttClientId</MudTd>
            <MudTd DataLabel="MqttTopic">@item.MqttTopic</MudTd>
            <MudTd DataLabel="Actions">
                @if (HasLogin)
                {
                    <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForEdit(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Ubah</MudButton>
                    <MudButton ButtonType="ButtonType.Button" @onclick="(() => PrepareForDelete(item))" DisableElevation="true" Variant="Variant.Filled" Color="Color.Error" Class="mr-2">Hapus</MudButton>
                }
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    </div>


}
@if (HasLogin)
{
    <MudPaper Class="pa-4 mt-4">
        <MudButton ButtonType="ButtonType.Button" @onclick="(() => InitializeitemObject())" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Masukan MessageStream Baru</MudButton>
    </MudPaper>
}

@code {
    bool HasLogin = false;
    MessageStreamDetail detail;
    BMC.CloudIoT.Data.MessageStreamService service;
    string customHeader = string.Empty;
    List<MessageStream> DataMessageStream;
    MessageStream itemObject = new MessageStream();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;

    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private MessageStream selectedItem1 = null;

    private HashSet<MessageStream> selectedItems = new HashSet<MessageStream>();

    private bool FilterFunc1(MessageStream element) => FilterFunc(element, searchString1);

    private bool FilterFunc(MessageStream element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Content.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.MqttTopic.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            toastService.ShowError("Url kosong atau tidak valid.");
        }
    }

    BMC.CloudIoT.Data.UserProfileService Userservice;
    protected override async Task OnInitializedAsync()
    {

        if (Userservice == null) Userservice = new UserProfileService();
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            HasLogin = true;// Userservice.GetUserRole(UserName) == Roles.Admin;
        }

        if (service == null) service = new MessageStreamService();

        DataMessageStream = service.GetAllData(UserName);


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private async Task InitializeitemObject()
    {

        itemObject = new MessageStream();
        itemObject.Username = UserName;
        customHeader = "Masukan MessageStream Baru";

        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<MessageStreamDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }
    }
    private async void DataChanged()
    {
        DataMessageStream = service.GetAllData(UserName);
        StateHasChanged();
    }

    private async Task PrepareForEdit(MessageStream item)
    {
        customHeader = "Ubah Data MessageStream";
        itemObject = item;
        var action = new Action(DataChanged);
        var parameters = new DialogParameters { ["TaskObject"] = itemObject, ["CustomHeader"] = customHeader, ["DataChanged"] = action };

        var dialog = DialogService.Show<MessageStreamDetail>(customHeader, parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            //In a real world scenario we would reload the data from the source here since we "removed" it in the dialog already.
            long.TryParse(result.Data.ToString(), out var NewId);
        }

    }
    private async Task PrepareForDelete(MessageStream item)
    {
        itemObject = item;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = DialogService.Show<ConfirmDialog>("Konfirmasi", options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var task = service.DeleteData(itemObject.Id);
            //await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
            DataMessageStream = service.GetAllData(UserName);
            itemObject = new MessageStream() { Id = -1 };
        }
    }


}
